/* style.css */
/* Feel free to change these if you want. */

body {
  font-family: sans-serif;
}

header,
main {
  max-width: 960px;
	margin: 0 auto;
}

p, h1, h2 {
  text-align: center;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  display: block;
}
.tooltip.hidden {
  display: none;
}
